body {
  font-family: "Cardo", serif;
}

.visible {
  display: block;
}

#privacy-policy {
  font-size: 14px;
}

.navbar-inverse .navbar-brand {
  color: #1DB954;
  font-family: "Oswald";
}
.navbar-inverse .navbar-nav>li>a {
  color: pink;
}
.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  background-color: #000000;
}

/*Neon Header*/
.wrapper {
  height: 850px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
}
.txt {
  color:#ffffff;
  background: #000000;

  font-size: 90px;
  font-weight: bold;
  font-family: 'Oswald';
  text-transform: uppercase;
}
.txt::before {
  content: 'Get Your Match';
  position: absolute;
  mix-blend-mode: difference;
  filter: blur(3px);
}
.neon-wrapper {
  display: inline-flex;
  filter: brightness(150%);
  overflow: hidden;
}
.gradient {
  background: linear-gradient(114.5793141156962deg, rgba(30, 215, 96,1) 4.927083333333334%,rgba(318, 51, 90,1) 97.84374999999999%);
   position: absolute;
   top: 0;
   left:0;
   width: 100%;
   height:100%;
   mix-blend-mode: multiply;
}
.dodge {
    background: radial-gradient(circle,white,black 35%) center / 25% 25%;
    position: absolute;
    top:-100%;
    left:-100%;
    right:0;
    bottom:0;
    mix-blend-mode: color-dodge;
    animation: dodge-area 3s linear infinite;
}
@keyframes dodge-area {
    to {
        transform: translate(50%,50%);
    }
}


.jumbotron {
  background-color: pink;
  padding-bottom: 80px;
  text-align: center;
}

#sign-in-section {
  background-color: pink;
}

.form-group {
  display: inline-grid;
  margin-right: 20px;
  margin-left: 20px;
}

.btn-sg{
  width: 200px;
  height: 40px;
  line-height: 27px;
}

.row-s{
  text-align: center;
}

.form .form__image {
  max-width: 350px;
  width: 100%;
  height: auto;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 260px;
  opacity: 0.1;
}

.form {
  padding-bottom: 60px;
}
