body {
  font-family: "Cardo", serif;
}

.visible {
  display: block;
}

#privacy-policy {
  font-size: 14px;
}

.navbar-inverse .navbar-brand {
  color: #1DB954;
  font-family: "Oswald";
}
.navbar-inverse .navbar-nav>li>a {
  color: pink;
}
.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  background-color: #000000;
}

/*Neon Header*/
.wrapper {
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
}
.txt {
  color:#ffffff;
  background: #000000;
  font-size: 90px;
  font-weight: bold;
  font-family: 'Oswald';
  text-transform: uppercase;
}
.txt::before {
  content: 'Get Your Match';
  position: absolute;
  mix-blend-mode: difference;
  filter: blur(3px);
}
.neon-wrapper {
  display: inline-flex;
  filter: brightness(150%);
  overflow: hidden;
}
.gradient {
  background: linear-gradient(114.5793141156962deg, rgba(30, 215, 96,1) 4.927083333333334%,rgba(252, 18, 179,1) 97.84374999999999%);
   position: absolute;
   top: 0;
   left:0;
   width: 100%;
   height:100%;
   mix-blend-mode: multiply;
}
.dodge {
    background: radial-gradient(circle,white,black 35%) center / 25% 25%;
    position: absolute;
    top:-100%;
    left:-100%;
    right:0;
    bottom:0;
    mix-blend-mode: color-dodge;
    animation: dodge-area 3s linear infinite;
}
@keyframes dodge-area {
    to {
        transform: translate(50%,50%);
    }
}

div.signClass {
  float: left;
  padding-top: 200px;
}

#explanation {
  color: #ffffff;
  font-family: "Oswald";
  background-color: #000000;
  padding-bottom: 400px;
  text-align: left;
}
div.number {
  font-family: serif;
  position: relative;
  padding-top: 5px;
}
div.expSteps {
  padding-left: 50%;
  padding-top: 80px;
}
/*----------------------------*/

/*----------------------------*/

#sign-in-section {
  background-color: #000000;
}

/* button sign ins*/
.form-group {
  display: inline-grid;
  margin-left: 20px;
  position: relative;
  transform: translateY(-330%);
}
#sign-in-btn {
  background-color: #1DB954;
}
#sign-in-btn2 {
  background-color: #FC12B3;
}

/*button calc and logo*/
.btn-sg{
  width: 200px;
  height: 40px;
  line-height: 27px;
  border-radius: 20%;
}
.sImage {
  max-width: 300px;
  margin-left: 18.75%;
  transform: translateY(-60%);
}
#calculation-btn {
  background-color: #ffffff;
  color: #000000;
  border-radius: 20%;
  /*transform: translateY(-200%);*/
}
#restart-btn {
  background-color: #ffffff;
  color: #000000;
  transform: translateX(55%);
}

.row-s{
  text-align: center;
}

p.howP {
  padding-bottom: 400px;
}